.box {
    width: 200px;
    height: 100px;
    background-color:rgb(245, 162, 207);
    border: 8px solid rgb(238, 38, 138);
    padding: 20px;
    margin: 30px;
}

.box2{
    /* padding: 20px; Aplica em todos os lados */
    width: 200px;
    height: 100px;
    background-color: rgb(179, 218, 243);
    border: 8px solid rgb(91, 170, 201);
    padding-top: 10px; /*EM CIMA*/
    padding-right: 40px; /*SÓ NA DIREITA*/
    padding-bottom: 20px; /*EM BAIXO*/
    padding-left: 25px; /*SÓ NA ESQUERDA*/
    

}